# Servidor
PORT= insert your port number here
APP_URL=Insert your app URL here

# OpenAI (Requerido para LangChain)
OPENAI_API_KEY=Insert your OpenAI API key here

# API de validación de pólizas por número de serie del vehículo (Agente 86)
CAR_VALIDATE_API_URL=https://aseguro.akeppatest.com/api/v1/polizas/consultar-recibos
CAR_VALIDATE_API_TOKEN=Insert your bearer token here
